@namespace h "http://www.w3.org/1999/xhtml";
body { 
  
  margin-right: 2em;
}
p { 
  line-height: 1.2 em 
}

h1, h2, h3 { 
  font-family: sans-serif; 
}

h1.part, h2.subtitle { 
  text-align: center; margin:auto;
}
.linenum  {
   float: right;
   margin-right: -2em;
   font-size: 0.8em;
   color: #999;
   font-style: italic;
   }
.prosenum  {
   font-size: 0.8em;
   color: #999;
   font-style: italic;
   }
/*Cover*/
body.cover {
	margin: 0;
	padding: 0;
	text-align: center;
}

p.cover {
	margin: 0;
	padding: 0;
	text-align: center;
}

img.cover {
	height: 100%;
}
/*Hide heading*/

*[class^='shouldIhide-'] {
	display:none;
}
*[class*='shouldIhide-book']   {
	display:block;
}
*[class*='shouldIhide-chapter']   {
	display:block;
}
*[class*='shouldIhide-speech']   {
	display:block;
}
